@tailwind base;
@tailwind components;
@tailwind utilities;
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main>.content>p,
h1 {
    font-family: sans-serif;

}

.main>.content>p {
    font-size: 1.7em;
    text-align: justify;
    width: 80%;
}